<p id="notice"><%= notice %></p>

<h1>Registered Users Report</h1>

<table border = "1" cellpadding = "5" cellspacing ="0">
  <thead>
    <tr>
      <th align = "left">First Name</th>
      <th align = "left">Last Name</th>
      <th align = "left">Address 1</th>
      <th align = "left">Address 2</th>
      <th align = "left">City</th>
      <th align = "left">State</th>
      <th align = "left">Zip</th>
      <th align = "left">Country</th>
      <th align = "left">Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td align = "left"><%= user.firstName %></td>
        <td align = "left"><%= user.lastName %></td>
        <td align = "left"><%= user.address1 %></td>
        <td align = "left"><%= user.address2 %></td>
        <td align = "left"><%= user.city %></td>
        <td align = "left"><%= user.state %></td>
        <td align = "left"><%= user.zip %></td>
        <td align = "left"><%= user.country %></td>
        <td align = "left"><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>